html {
    font-family: 'Montserrat', sans-serif;
}

#most-popular {
    font-family: 'Nanum Pen Script', cursive;
}

#hero {
    background-image: linear-gradient(180deg, rgba(6, 89, 203, 0.9) 400px, rgba(255, 255, 255, 1) 400px, rgba(255, 255, 255, 1) 100%), url('./img/business-strategy-success-target-goals-mobile.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;
    padding-top: 32px;
    padding-bottom: 16px;
}

.yellow-underline {
    background-image: url('./img/yellow-strike.png');
    background-position: center 36px;
    background-size: 90%;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 2.15rem;
    padding-bottom: 5px;
    width: 100%;
}

#vip-mobile {
    font-size: 1.85rem;
}

#BBC {
    font-size: 1.7rem;
}

#instant-access {
    padding: 0 1rem;
}

.only-200 {
    font-size: 1rem;
    padding: 1.25rem;
}

#play-button:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.even {
    background-color: #EEF5FE;
}

.packages-mobile {
    padding: 0.75rem;
}

.packages-col {
    color: #394259;
    font-size: 1.17rem;
    line-height: 2rem;
    padding: 1rem;
}

.packages-col strong {
    color: #000;
}

.foundation-mobile-col,
.elite-mobile-col {
    color: #000;
    font-weight: 800;
    line-height: 3rem;
}

.foundation-mobile-col {
    font-size: 2.25rem;
}

.elite-mobile-col {
    font-size: 2.75rem;
}

.elite {
    font-size: 1.35rem;
}

.elite-arrow {
    margin-right: 5%;
}

.regular {
    font-size: 1.2rem;
    line-height: 1.85rem;
    margin-bottom: 2rem;
}

.row.footer h2 {
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
}

.row.footer a {
    background-color: #FFA300;
    border: 1px solid #CD8505;
}

.savings {
    padding: 1rem 0;
}

.most-popular {
    margin-left: 0;
    width: 300px;
}

footer {
    margin-top: 16px;
    padding-bottom: 16px;
}

footer,
footer a {
    color: #1b2124;
    font-size: 14px;
    text-decoration: none;
}

footer a:hover {
    text-shadow: 2px 2px #FFF;
}

.need-help {
    padding: 16px;
}

.pb-8 {
    padding-bottom: 8px;
}

.vip-access {
    font-size: 20px;
    font-weight: 800;
    padding: 16px 24px;
}

.vip-access span {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    width: 87%;
}

#video-thumbnail-mobile {
    margin-top: -8%;
}

#business-row-mobile {
    margin-top: -16%;
}

@media only screen and (min-width: 768px) {

    #hero {
        background-image: linear-gradient(180deg, rgba(6, 89, 203, 0.9) 580px, rgba(255, 255, 255, 1) 300px, rgba(255, 255, 255, 1) 100%), url('./img/business-strategy-success-target-goals.png');
        background-size: 100%;
    }

    #hero h1 {
        font-size: 2.8rem;
    }

    .yellow-underline-desktop {
        background-image: url('./img/yellow-strike.png');
        background-position: center 51px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 2.75rem;
        padding-bottom: 10px;
        width: 80%;
    }

    #instant-access {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .only-200 {
        font-size: 1.15rem;
        padding: 2rem;
    }

    .checkmark {
        height: auto;
    }

    .package-fs {
        font-size: 1rem;
    }

    .vip-access {
        font-size: 20px;
        padding: 20px 32px;
    }

    .vip-access strong {
        text-transform: uppercase;
        font-size: 34px;
    }

    #video-thumbnail {
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 992px) {
    #hero {
        background-image: linear-gradient(180deg, rgba(6, 89, 203, 0.9) 665px, rgba(255, 255, 255, 1) 300px, rgba(255, 255, 255, 1) 100%), url('./img/business-strategy-success-target-goals.png');
        background-size: 125%;
        background-position: 20% -75%;
    }

    #hero h1 {
        font-size: 2.9rem;
    }

    #hero p {
        padding-bottom: 3%;
    }

    .yellow-underline-desktop {
        background-position: center 54px;
        font-size: 3rem;
        max-width: 550px;
        padding-bottom: 4px;
        width: 55%;
    }

    #instant-access {
        font-size: 1.25rem;
    }

    .vip-access {
        padding: 20px 60px;
    }

    #packages {
        background: linear-gradient(180deg, rgba(254, 254, 255, 1) 0%, rgba(237, 241, 248, 1) 50%);
        padding-bottom: 6rem;
    }

    .foundation-header-col {
        border-top: 1px solid #dfdbe0;
        border-left: 1px solid #dfdbe0;
        font-size: 32px;
    }

    .foundation-col,
    .foundation-footer-col {
        border-left: 1px solid #dfdbe0;
    }

    .even.package-col.foundation-col {
        background-color: #EBF2FB;
    }

    .package-col.elite-col,
    .elite-header-col,
    .elite-footer-col {
        position: relative;
    }

    .elite-header-col {
        box-shadow: 0 -11px 11px rgb(50 50 50 / 10%);
        font-size: 32px;
    }

    .package-col.elite-col::before,
    .elite-header-col::before,
    .elite-footer-col::before {
        box-shadow: -15px 0 20px -20px #d2d2d2 inset;
        content: " ";
        height: 100%;
        left: -20px;
        position: absolute;
        top: 0;
        width: 20px;
    }

    .package-col.elite-col::after,
    .elite-header-col::after,
    .elite-footer-col::after {
        box-shadow: 15px 0 20px -20px #d2d2d2 inset;
        content: " ";
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        width: 20px;
    }

    .description {
        font-size: 15px;
        padding: 1rem 0.75rem;
    }

    .row.footer h2 {
        font-size: 2.25rem;
        margin: 0.5rem 0;
    }

    .row.footer a {
        font-size: 1.25rem;
        padding: 15px 25px;
    }

    .transparent-background {
        background-color: transparent !important;
    }

    .white-background {
        background-color: #FFF;
    }

    .gray-background {
        background-color: #FDFEFE;
    }

    .regular {
        margin: 0.5rem 0;
    }

    .foundation-footer-col {
        background-color: #F4F7FB;
        border-bottom: 1px solid #dfdbe0;
    }

    .elite-footer-col {
        box-shadow: 0 4px 13px rgb(50 50 50 / 10%);
    }

    footer {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1400px) {
    #hero {
        background-image: linear-gradient(180deg, rgba(6, 89, 203, 0.9) 725px, rgba(255, 255, 255, 1) 300px, rgba(255, 255, 255, 1) 100%), url('./img/business-strategy-success-target-goals.png');
        background-position: 0 50%;
        background-size: 110%;
        padding: 2% 0 0 0;
    }
}

@media only screen and (min-width: 1600px) {
    #most-popular-desktop {
        margin-right: 8%;
    }
}