/*------------------------------------*\
    INDEX
\*------------------------------------*/

/*
HOVER
BACKGROUNDS
HEADER
PACKAGES
MODAL
FOOTER

TABLET SIZES

DESKTOP AND ABOVE SIZES

*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*------------------------------------*\
    HOVER
\*------------------------------------*/

.btn {
    transition: ease-out 0.2s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
    transition: ease-in 0.2s;
}

#play-button:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

footer a:hover {
    text-shadow: 2px 2px #FFF;
}

#email:hover {
    color: #1F1F1F;
    transition: ease-out 0.2s;
}

/*------------------------------------*\
    END OF HOVER
\*------------------------------------*/

/*------------------------------------*\
    BACKGROUNDS
\*------------------------------------*/

.transparent-background {
    background-color: transparent !important;
}

.white-background {
    background-color: #FFF;
}

.gray-background {
    background-color: #FDFEFE;
}

.even {
    background-color: #EEF5FE;
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
}

/*------------------------------------*\
    END OF BACKGROUNDS
\*------------------------------------*/

#most-popular {
    font-family: 'Nanum Pen Script', cursive;
}

/*------------------------------------*\
    HEADER MOBILE
\*------------------------------------*/

#green-bar {
    font-size: 0.8rem;
}

#hero {
    background-image: linear-gradient(180deg, rgba(6, 89, 203, 0.9) 400px, rgba(255, 255, 255, 1) 400px, rgba(255, 255, 255, 1) 100%), url('./img/business-strategy-success-target-goals-mobile.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#vip-mobile {
    font-size: 1.6rem;
}

.yellow-underline {
    background-image: url('./img/yellow-strike.png');
    background-position: center 2.25rem;
    background-size: 90%;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 2.15rem;
    padding-bottom: 0.313rem;
    width: 100%;
}

#BBC {
    font-size: 1.25rem;
}

#instant-access {
    padding: 1rem;
    font-size: 0.85rem;
    font-weight: 600;
}

#video-thumbnail-mobile {
    margin-top: -12%;
}

#business-row-mobile {
    margin-top: -16%;
}

.vip-access {
    background: linear-gradient(180deg, rgba(255, 163, 0, 1) 0%, rgba(255, 122, 0, 1) 75%);
    box-shadow: inset 0 -3px #ec5500;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 1rem 0.125rem;
}

.vip-access span {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    width: 87%;
}

.only-200 {
    font-size: 1rem;
    padding: 1.25rem;
    margin: 0;
}

/*------------------------------------*\
    END OF HEADER
\*------------------------------------*/

/*------------------------------------*\
    PACKAGES MOBILE
\*------------------------------------*/

#packages {
    padding: 1rem 0;
}

.packages-mobile {
    padding: 0.75rem;
}

.packages-col {
    color: #394259;
    font-size: 1.17rem;
    line-height: 2rem;
    padding: 1rem;
}

.packages-col strong {
    color: #000;
}

.foundation-mobile-col,
.elite-mobile-col {
    color: #000;
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 2.313rem;
}

.elite {
    font-size: 1.35rem;
}

.regular {
    font-size: 1.1rem;
    line-height: 1.85rem;
    margin-bottom: 2rem;
}

.elite-arrow {
    margin-right: 5%;
}

.row.footer h2 {
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
}

.row.footer a {
    background-color: #FFA300;
    border: 1px solid #CD8505;
    font-size: 1.375rem;
    padding: 1.25rem 5.25rem;
}

.savings {
    padding: 1rem 0;
}

.most-popular {
    margin-left: 0;
    width: 18.75rem;
}

/*------------------------------------*\
    END OF PACKAGES
\*------------------------------------*/

/*------------------------------------*\
    FOOTER MOBILE
\*------------------------------------*/

footer {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

footer,
footer a {
    color: #1b2124;
    font-size: 14px;
    text-decoration: none;
}

#email {
    color: #727272;
    transition: ease-in 0.2s;
}

.need-help {
    padding: 1rem;
}

.pb-8 {
    padding-bottom: 0.5rem;
}

/*------------------------------------*\
    END OF FOOTER
\*------------------------------------*/

/*------------------------------------*\
    MODAL MOBILE
\*------------------------------------*/

#close-modal {
    background: transparent;
    border: none;
    margin-left: auto;
    outline: none;
    width: 3.125rem;
}

#close-modal span {
    font-size: 4rem;
    color: red;
    position: absolute;
    top: -2rem;
    right: 0.313rem;
}

.modal-content {
    background-color: #FFFFFF !important;
    color: #394259;
    font-size: 1rem;
    text-align: center;
    position: relative;
}

.modal .btn {
    display: block;
    margin: 0.938rem auto 0 auto;
}

.modal-title {
    font-weight: 700;
}

#important {
    font-size: 1rem;
    margin-top: 2.5rem;
}

.modal-content p {
    padding: 0.25rem;
    font-size: 0.875rem;
}

.modal-content .btn {
    font-size: 1rem;
    font-weight: 700;
}

#nothanks {
    font-weight: 600;
}

/*------------------------------------*\
    END OF MODAL
\*------------------------------------*/

/*------------------------------------*\
    TABLET SIZE
\*------------------------------------*/

@media only screen and (min-width: 768px) {

    /*------------------------------------*\
        HEADER TABLET
    \*------------------------------------*/

    #hero {
        background-image: linear-gradient(180deg, rgba(6, 89, 203, 0.9) 580px, rgba(255, 255, 255, 1) 300px, rgba(255, 255, 255, 1) 100%), url('./img/business-strategy-success-target-goals.png');
        background-size: 100%;
    }

    #hero h1 {
        font-size: 2.8rem;
    }

    .yellow-underline-desktop {
        background-image: url('./img/yellow-strike.png');
        background-position: center 3.188rem;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 2.75rem;
        padding-bottom: 0.625rem;
        width: 80%;
    }

    #instant-access {
        font-size: 1.5rem;
        padding: 1rem;
    }

    #video-thumbnail {
        padding: 0.5rem 2rem;
    }

    .vip-access {
        font-size: 1.25rem;
        padding: 1.25rem 1rem;
    }

    .vip-access strong {
        text-transform: uppercase;
        font-size: 2.125rem;
    }

    .only-200 {
        font-size: 1.15rem;
        padding: 2rem;
    }

    /*------------------------------------*\
        END OF HEADER
    \*------------------------------------*/
}


/*------------------------------------*\
    DESKTOP SIZE
\*------------------------------------*/

@media only screen and (min-width: 992px) {

    /*------------------------------------*\
        HEADER DESKTOP
    \*------------------------------------*/

    #green-bar {
        font-size: 0.9rem;
    }

    #hero {
        background-image: linear-gradient(180deg, rgba(6, 89, 203, 0.9) 665px, rgba(255, 255, 255, 1) 300px, rgba(255, 255, 255, 1) 100%), url('./img/business-strategy-success-target-goals.png');
        background-size: 125%;
        background-position: 20% -75%;
    }

    #hero h1 {
        font-size: 2.9rem;
    }

    #hero p {
        padding-bottom: 3%;
    }

    .yellow-underline-desktop {
        background-position: center 3.375rem;
        font-size: 3rem;
        max-width: 34.375rem;
        padding-bottom: 0.25rem;
    }

    #instant-access {
        font-size: 1.25rem;
    }

    .vip-access {
        padding: 1.25rem 3.75rem;
    }

    .only-200 {
        font-size: 1.25rem;
    }

    /*------------------------------------*\
        END OF HEADER
    \*------------------------------------*/

    /*------------------------------------*\
        PACKAGES DESKTOP
    \*------------------------------------*/

    #packages {
        background: linear-gradient(180deg, rgba(254, 254, 255, 1) 0%, rgba(237, 241, 248, 1) 50%);
        padding-bottom: 6rem;
    }

    #most-popular-desktop {
        top: -3.125rem;
        right: -2.5rem;
    }

    #most-popular-desktop img {
        width: 75%;
    }

    .foundation-header-col {
        border-top: 1px solid #dfdbe0;
        border-left: 1px solid #dfdbe0;
    }

    .elite-header-col {
        box-shadow: 0 -11px 11px rgb(50 50 50 / 10%);
    }

    .foundation-header-col,
    .elite-header-col {
        color: #1F1F1F;
        font-size: 2rem;
        font-weight: 800;
        line-height: 2.438rem;
        padding: 2rem;
    }

    .package-col.elite-col,
    .elite-header-col,
    .elite-footer-col {
        position: relative;
    }

    .foundation-col,
    .foundation-footer-col {
        border-left: 1px solid #dfdbe0;
    }

    .package-col.elite-col::before,
    .elite-header-col::before,
    .elite-footer-col::before {
        box-shadow: -15px 0 20px -20px #d2d2d2 inset;
        content: " ";
        height: 100%;
        left: -1.25rem;
        position: absolute;
        top: 0;
        width: 1.25rem;
    }

    .package-col.elite-col::after,
    .elite-header-col::after,
    .elite-footer-col::after {
        box-shadow: 15px 0 20px -20px #d2d2d2 inset;
        content: " ";
        height: 100%;
        position: absolute;
        top: 0;
        right: -1.25rem;
        width: 1.25rem;
    }

    .description {
        font-size: 1.125rem;
        padding: 1rem 1.25rem;
    }

    .row.footer h2 {
        font-size: 2.25rem;
        margin: 0.5rem 0;
    }

    .regular {
        font-size: 1.25rem;
        line-height: 2.85rem;
        margin: 0.5rem 0 0 0;
        padding-top: 1rem;
    }

    .row.footer a {
        border: 2px solid #CD8505;
        font-size: 1.375rem;
        padding: 0.938rem 1.25rem;
    }

    .foundation-footer-col {
        background-color: #F4F7FB;
        border-bottom: 1px solid #dfdbe0;
    }

    .elite-footer-col {
        box-shadow: 0 4px 13px rgb(50 50 50 / 10%);
    }

    /*------------------------------------*\
        END OF PACKAGES
    \*------------------------------------*/

    /*------------------------------------*\
        FOOTER DESKTOP
    \*------------------------------------*/

    footer {
        margin-top: 0;
        padding: 1rem 0;
    }

    /*------------------------------------*\
        END OF FOOTER
    \*------------------------------------*/

    /*------------------------------------*\
        MODAL DESKTOP
    \*------------------------------------*/

    .modal-dialog {
        max-width: 46.875rem;
    }

    #close-modal span {
        font-size: 4rem;
        top: -1.625rem;
    }

    .modal-body {
        font-size: 1.75rem;
        padding-bottom: 5rem;
    }

    .modal-body strong {
        color: #000;
    }

    #important {
        font-size: 2.15rem;
        margin-top: 5rem;
    }

    #stayonthis {
        font-size: 1.5rem;
        width: 32.813rem;
    }

    /*------------------------------------*\
        END OF MODAL
    \*------------------------------------*/
}

@media only screen and (min-width: 1400px) {

    /*------------------------------------*\
        HEADER 1400
    \*------------------------------------*/

    #hero {
        background-image: linear-gradient(180deg, rgba(6, 89, 203, 0.9) 725px, rgba(255, 255, 255, 1) 300px, rgba(255, 255, 255, 1) 100%), url('./img/business-strategy-success-target-goals.png');
        background-position: 0 50%;
        background-size: 110%;
        padding: 2% 0 0 0;
    }

    /*------------------------------------*\
        END OF HEADER
    \*------------------------------------*/

    /*------------------------------------*\
        PACKAGE 1400
    \*------------------------------------*/

    #most-popular-desktop {
        top: -2.813rem;
        right: -3.125rem;
    }

    #most-popular-desktop img {
        width: 100%;
    }

    /*------------------------------------*\
        END OF PACKAGE
    \*------------------------------------*/

    /*------------------------------------*\
        FOOTER 1400
    \*------------------------------------*/

    footer {
        padding: 2rem 0;
    }

    /*------------------------------------*\
        END OF FOOTER 
    \*------------------------------------*/
}

@media only screen and (min-width: 1600px) {

    /*------------------------------------*\
        PACKAGE 1600
    \*------------------------------------*/

    #most-popular-desktop {
        right: -6.25rem;
    }

    /*------------------------------------*\
        END OF PACKAGE
    \*------------------------------------*/
}